<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row text-center mt-5">
      <h1 class="display-3 fw-bold text-capitalize">Previous Events</h1>
      <div class="heading-line"></div>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint porro temporibus distinctio.
      </p>
    </div>
    <!-- FILTER BUTTONS  -->
    <div class="row mt-5 mb-4 g-3 text-center">
      <div class="col-md-12">
        <button class="btn btn-primary me-1" type="button">All</button>
        <button class="btn btn-outline-primary me-1" type="button">Current</button>
        <button class="btn btn-outline-primary me-1" type="button">Past</button>
      </div>
    </div>

    <!-- START THE PORTFOLIO ITEMS  -->
    <div class="row">

      <div class="col-lg-4 col-md-6" *ngFor="let option of items">
        <app-portfolio-item [options]="option"></app-portfolio-item>
      </div>

    </div>
  </div>
</section>
