<section id="companies" class="companies">
  <div class="container">
    <div class="row text-center">
      <h4 class="display-3 fw-bold mb-3">Current Partners</h4>
      <div class="heading-line mb-5"></div>
    </div>
  </div>
  <!-- START THE CAMPANIES CONTENT  -->
  <div class="container">
    <div class="row">
      <div class="col-6 d-flex align-items-center justify-content-center">
        <div class="companies__logo-box">
          <img src="assets/images/companies/irie.png" alt="Company 1 logo" title="Company 1 Logo" class="img-fluid">
        </div>
      </div>
      <div class="col-6 d-flex align-items-center justify-content-center">
        <div class="companies__logo-box">
          <img src="assets/images/companies/the-kushion.png" alt="Company 2 logo" title="Company 2 Logo" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
